body{
    margin: 0 auto
}

.topWrapper{
    width: 100vw;
    height: 125px;
    display: flex;
    box-shadow: 0px 32px 100px -20px rgba(34, 60, 80, 0.2);
    align-items: center;
}
.logoImg{
    margin-left: 70px;
    width: 250px;
    height: 125px;
    background-image: url(assets/images/image-Photoroom.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.aboutUs{
    margin-left: 270px;
}
.text{
    font-family: Raleway;
    font-size: 33px;
    font-weight: 400;
}
.marginInNavbar{
    margin-left: 80px;
}
.buttonContact{
    width:300px ;
    height: 60px; 
    border-radius: 15px;
    border: none;
    background: 
    linear-gradient(45deg, rgb(255, 0, 0), rgb(214, 105, 105));
}
.navText:hover{
    cursor: pointer;
}
.aboutUs:hover, .doneProjects:hover{
    color: rgb(87, 87, 236);
}
.mainWrapper{
    width: 100vw;
    display: flex;
    margin-top: 200px;
    margin-left: 250px;
    gap: 150px;
}
.mainText{
    font-weight: 300;
    font-size: 83px;
}
.mainWrapperText{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainWrapperImage{
    width: 650px;
    height: 420px;
    background-size: 100% 100%;
    background-image: url(assets/images/imgStartPage.jpeg);
}
#Надёжные{
    font-weight: bolder;
    margin: 0;
}
#вашихКрыш{
    margin:0;
}


.mainWrapper2{
    margin-left: 130px;
    gap: 50px;
    margin-top: 160px;
}

.imagesForPage2{
    min-width: 510px;
    width: 510px;
    height: 490px;
    align-self: center;
    justify-self: center;
}
.image1{
    background-image: url(assets/images/page2img1.jfif);
    background-size: 100% 100%;
}
.image2{
    background-image: url(assets/images/page2img2.jfif);
    background-size: 100% 100%;
}
.image3{
    background-image: url(assets/images/page2img3.jfif);
    background-size: 100% 100%;
}
.image4{
    background-image: url(assets/images/page2img4.jfif);
    background-size: 100% 100%;
}
.image5{
    background-image: url(assets/images/page2img5.jfif);
    background-size: 100% 100%;
}
.image6{
    background-image: url(assets/images/page2img6.jfif);
    background-size: 100% 100%;
}
.arrow{
    align-self: center;
    font-size: 60px;
    cursor: pointer;
}
.arrow:hover{
    color: rgb(87, 87, 236);
}
.mainWrapper2_2{
    margin-left: 50px;
}
.currentPage{
    pointer-events: none;
    color: rgb(87, 87, 236);
}
.hiddenOrNot{
    display: none;
}